body {
  margin: 0px;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.nav-bar {
  box-sizing: border-box;
  display: flex;
  height: 5vh;
  border: black 2px solid;
  align-items: center;
  justify-content: space-around;
  font-size: 1.5rem;
}
